{% extends "layout.html" %}

{% block page_title %}
  Eligible - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Eligible
      </h1>

      <p>Based on your answers, you are eligible for Health Start.</p>

      <p>
        <a class="button button-start" href="/application/section/about-you" role="button">Continue</a>
      </p>

    </div>
  </div>

</div>

{% endblock %}
