{% extends "layout.html" %}

{% block page_title %}
  Check eligibility - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Check eligibility
        </h1>

        <p>In this task you’ll be asked between 2 and 3 questions.</p>

        <p>The answers you give will show if you are eligible for Healthly Start vouchers and/or a pre-paid card.</p>

        <p>The questions are easy to answer, and we won’t keep your details or share them with anyone else.</p>

        <p><a href="/check-eligibility/question/pregnant-or-children" class="button">Continue to questions</a></p>

        <p>Got a code? If you have been sent a code this may mean you are already eligible.</p>

        <a href="/check-eligibility/enter-referral" class="button">Continue to enter your code</a>

      </form>

    </div>
  </div>

</div>

{% endblock %}