{% extends "layout.html" %}

{% block page_title %}
  Check eligibility - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
          Check eligibility
        </h1>

          <p>In this task you'll be asked between 4 and 6 questions.</p>

          <p>The answers you give will show:</p>

          <ul class="list list-bullet">
            <li>if you're eligible to transport goods</li>
            <li>how much it will cost for you to apply</li>
            <li>how long the application process will take</li>
          </ul> 

          <p>This information will be different depending on your answers.</p>

        <br>

        <a href="/check-eligibility/enter-referral" class="button">Enter a referral code</a>
        <a href="/check-eligibility/question/pregnant-or-children" class="button">Continue to questions</a>

      </form>

    </div>
  </div>

</div>

{% endblock %}