{% extends "layout.html" %}

{% block page_title %}
  Overview - Healthy start
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                Security check passed
            </h1>

            <p>We just need a few more details to complete your application</p>

            <a href="/existing-record/additional-details/pregnancy" class="button">Continue</a>
            
        </div>
    </div>

</main>

{% endblock %}
