{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian details - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian">Back</a>

      <form action="/application/section/parent-guardian-partner" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian details
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Parent/Guardian DOB -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianDob">
                <h3 class="heading-small">What is your parent or guardian's date of birth?</h3>
                <!-- <span class="form-hint">

                </span> -->
              </label>

              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="parentGuardianDobDay">Day</label>
                  <input class="form-control" id="parentGuardianDobDay" name="parentGuardianDobDay" type="number" pattern="[0-9]*" min="0" max="31" required value="{{ data['dobDay'] }}">
                </div>

                <div class="form-group form-group-month">
                  <label class="form-label" for="parentGuardianDobMonth">Month</label>
                  <input class="form-control" id="parentGuardianDobMonth" name="parentGuardianDobMonth" type="number" pattern="[0-9]*" min="0" max="12" required value="{{ data['dobMonth'] }}">
                </div>

                <div class="form-group form-group-year">
                  <label class="form-label" for="parentGuardianDobYear">Year</label>
                  <input class="form-control" id="parentGuardianDobYear" name="parentGuardianDobYear" type="number" pattern="[0-9]*" min="0" max="2017" required value="{{ data['dobYear'] }}">
                </div>
              </div>
            </fieldset>
          </div>

          <!-- Parent/Guardian National Insurance -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianNiNumber">
              <h3 class="heading-small">What’s your parent or guardian's National Insurance Number?</h3>
              <span class="form-hint">
                It's on their National Insurance card, benefit letter, payslip or P60.
                <br>
                For example, ‘QQ 12 34 56 C’.
              </span>
            </label>

            <input class="form-control" id="parentGuardianNiNumber" type="text" name="parentGuardianNiNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['parentGuardianNiNumber'] }}">
          </div>

          <!-- Parent/Guardian Name(s) -->
          <div class="form-group">
            <h3 class="heading-small">What is your parent or guardians name?</h3>

            <!-- First name -->
            <div class="form-group">
              <label class="form-label" for="parentGuardianFirstName">
                <span>First name</span>
              </label>

              <input type="text" class="form-control" id="parentGuardianFirstName" name="parentGuardianFirstName" required value="{{ data['parentGuardianFirstName'] }}">
            </div>

            <!-- Surname -->
            <div class="form-group">
              <label class="form-label" for="parentGuardianSurname">
                <span>Surname</span>
              </label>

              <input type="text" class="form-control" id="parentGuardianSurname" name="parentGuardianSurname" value="{{ data['parentGuardianSurname'] }}">
            </div>
          </div>

          <!-- Parent/Guardian relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianRelationship">
                <h3 class="heading-small">What is the status of your relationship with your parent or guardian?</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <select class="form-control" id="parentGuardianRelationship" name="parentGuardianRelationship" onchange="showOther()" onload="showOther()">
                <option class="mother">Mother</option>
                <option class="father">Father</option>
                <option class="carer">Carer</option>
                <option class="other">Other</option>
              </select>

              <script>
                function setSelectValue(id, val) {
                    document.getElementById(id).value = val;
                }

                setSelectValue('parentGuardianRelationship', '{{ data['parentGuardianRelationship'] }}');
              </script>

            </fieldset>
          </div>

          <!-- Parent/Guardian Benefits -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianBenefits">
                <h3 class="heading-small">Tick all the benefits your parent or guardian gets</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <div class="multiple-choice">
                <input id="parentGuardianIncomeRelatedEmploymentAndSupportAllowance" name="parentGuardianIncomeRelatedEmploymentAndSupportAllowance" type="checkbox" {{ checked('parentGuardianIncomeRelatedEmploymentAndSupportAllowance', 'on') }}>
                <label for="parentGuardianIncomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianIncomeSupport" name="parentGuardianIncomeSupport" type="checkbox" {{ checked('parentGuardianIncomeSupport', 'on') }}>
                <label for="parentGuardianIncomeSupport">Income support</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianIncomeBasedJobseekersAllowance" name="parentGuardianIncomeBasedJobseekersAllowance" type="checkbox" {{ checked('parentGuardianIncomeBasedJobseekersAllowance', 'on') }}>
                <label for="parentGuardianIncomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianChildTaxCredit" name="parentGuardianChildTaxCredit" type="checkbox" {{ checked('parentGuardianChildTaxCredit', 'on') }}>
                <label for="parentGuardianChildTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianWorkingTaxCredit" name="parentGuardianWorkingTaxCredit" type="checkbox" {{ checked('parentGuardianWorkingTaxCredit', 'on') }}>
                <label for="parentGuardianWorkingTaxCredit">Working Tax Credit (do not tick if you are getting WTC run-on only*)</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianUniversalCredit" name="parentGuardianUniversalCredit" type="checkbox" {{ checked('parentGuardianUniversalCredit', 'on') }}>
                <label for="parentGuardianUniversalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianNoneOfTheAbove" name="parentGuardianNoneOfTheAbove" type="checkbox" {{ checked('parentGuardianNoneOfTheAbove', 'on') }}>
                <label for="parentGuardianNoneOfTheAbove">None of the above</label>
              </div>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
