{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian details - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian/living-with">Back</a>

      <form action="/application/section/parent-guardian/dob" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian details
            </h1>
          </legend>

          <!-- Parent/Guardian relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianRelationship">
                <h3 class="heading-small">Relationship with your parent or guardian</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <select class="form-control" id="parentGuardianRelationship" name="parentGuardianRelationship" onchange="showOther()" onload="showOther()">
                <option class="mother">Mother</option>
                <option class="father">Father</option>
                <option class="carer">Carer</option>
                <option class="other">Other</option>
              </select>

              <script>
                function setSelectValue(id, val) {
                    document.getElementById(id).value = val;
                }

                setSelectValue('parentGuardianRelationship', '{{ data['parentGuardianRelationship'] }}');
              </script>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
