{% extends "layout.html" %}

{% block page_title %}
  Realtionship - Parent/guardian details - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian/living-with">Back</a>

      <form action="/application/section/parent-guardian/dob" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian details
            </h1>
          </legend>

          <!-- Parent/Guardian relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianRelationship">
                <h3 class="heading-small">Relationship to {{ "applicant" if data['applier'] == 'applierNotFamily' else "you" }}</h3>
              </label>

              <div class="multiple-choice">
                <input id="parentGuardianRelationshipMother" type="radio" name="parentGuardianRelationship" value="mother" {{ checked('parentGuardianRelationship', 'mother') }}>
                <label for="parentGuardianRelationshipMother">Mother</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianRelationshipFather" type="radio" name="parentGuardianRelationship" value="father" {{ checked('parentGuardianRelationship', 'father') }}>
                <label for="parentGuardianRelationshipFather">Father</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianRelationshipCarer" type="radio" name="parentGuardianRelationship" value="carer" {{ checked('parentGuardianRelationship', 'carer') }}>
                <label for="parentGuardianRelationshipCarer">Carer</label>
              </div>

              <div class="multiple-choice" data-target="other">
                <input id="parentGuardianRelationshipOther" type="radio" name="parentGuardianRelationship" value="other" {{ checked('parentGuardianRelationship', 'other') }}>
                <label for="parentGuardianRelationshipOther">Other</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="other">
                <div class="form-group" id="parentGuardianRelationshipOtherSpecified">
                  <label class="form-label" for="parentGuardianRelationshipOtherSpecified">Please specify</label>
                  <input type="text" class="form-control" id="parentGuardianRelationshipOtherSpecified" name="parentGuardianRelationshipOtherSpecified" value="{{ data['parentGuardianRelationshipOtherSpecified'] }}">
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>
          
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
