{% extends "layout.html" %}

{% block page_title %}
  Check eligibility - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/check-eligibility/question/over-18">Back</a>

      <form action="/check-eligibility/eligible" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="heading-large">
                Are you, your partner or your carer receiving any of the following benefits?
              </h1>
              <!-- <p class="body-text"></p> -->
            </legend>

            <ul class="list list-bullet">
               <li>Income related Employment and Support Allowance</li>
               <li>Income Support</li>
               <li>Income based Jobseeker's Allowance</li>
               <li>Child Tax Credit (with a family income of £16,190 or less per year)</li>
               <li>Working Tax Credit (do not tick if you are getting WTC run-on only*)</li>
               <li>Universal Credit (with a family take home pay of £408 or less per month)</li>
            </ul>

            <div class="multiple-choice">
              <input id="receives-benefit-true" type="radio" name="receives-benefit" value="true" {{ checked('receives-benefit', 'true') }}>
              <label for="receives-benefit-true">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="receives-benefit-false" type="radio" name="receives-benefit" value="false" {{ checked('receives-benefit', 'false') }}>
              <label for="receives-benefit-false">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}
