{% extends "layout.html" %}

{% block page_title %}
  Apply - About - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/about/name">Back</a>

      <form action="/application/section/contact-details" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              {{ "About the applicant" if data['applier'] == 'applierNotFamily' else "About you" }}
            </h1>
          </legend>

          <!-- Benefits -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="benefits">
                <h3 class="heading-small">Tick ALL benefits {{ "the applicant receives" if data['applier'] == 'applierNotFamily' else "you receive" }}</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <div class="multiple-choice">
                <input id="incomeRelatedEmploymentAndSupportAllowance" name="incomeRelatedEmploymentAndSupportAllowance" type="checkbox" value="true" {{ checked('incomeRelatedEmploymentAndSupportAllowance', 'true') }}>
                <label for="incomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="incomeSupport" name="incomeSupport" type="checkbox" value="true" {{ checked('incomeSupport', 'true') }}>
                <label for="incomeSupport">Income support</label>
              </div>

              <div class="multiple-choice">
                <input id="incomeBasedJobseekersAllowance" name="incomeBasedJobseekersAllowance" type="checkbox" value="true" {{ checked('incomeBasedJobseekersAllowance', 'true') }}>
                <label for="incomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="childTaxCredit" name="childTaxCredit" type="checkbox" value="true" {{ checked('childTaxCredit', 'true') }}>
                <label for="childTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
              </div>

              <div class="multiple-choice">
                <input id="universalCredit" name="universalCredit" type="checkbox" value="true" {{ checked('universalCredit', 'true') }}>
                <label for="universalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
              </div>

              <div class="multiple-choice">
                <input id="noneOfTheAbove" name="noneOfTheAbove" type="checkbox" value="true" {{ checked('noneOfTheAbove', 'true') }}>
                <label for="noneOfTheAbove">None of the above</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
