{% extends "layout.html" %}

{% block page_title %}
  Apply - About - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/about/dob">Back</a>

      <form action="/application/section/about/ni" method="post" class="form">
        <div class="form-group"> 

          <legend>
            <h1 class="heading-large">
              About you
            </h1>
          </legend>

          <!-- Education -->
          <div class="form-group">
            <fieldset class="inline">

              <label class="form-label" for="education">
                <h3 class="heading-small">Are you in full time education?</h3>
                <!-- <span class="form-hint">

                </span> -->
              </label>

              <div class="multiple-choice">
                <input id="fullTimeEducationTrue" type="radio" name="fullTimeEducation" value="true" required {{ checked('fullTimeEducation', 'true') }}>
                <label for="fullTimeEducationTrue">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="fullTimeEducationFalse" type="radio" name="fullTimeEducation" value="false" required {{ checked('fullTimeEducation', 'false') }}>
                <label for="fullTimeEducationFalse">No</label>
              </div>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
