{% extends "layout.html" %}

{% block page_title %}
  Apply - About - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/about/education">Back</a>

      <form action="/application/section/about/name" method="post" class="form">
        <div class="form-group">

          <legend>
              <h1 class="heading-large">
                {{ "About the applicant" if data['applier'] == 'applierNotFamily' else "About you" }}
              </h1>
          </legend>

          <!-- National Insurance -->
          <div class="form-group">
            <label class="form-label" for="niNumber">
              <h3 class="heading-small">{{ "Applicant's" if data['applier'] == 'applierNotFamily' else "Your" }} National Insurance Number</h3>
              <span class="form-hint">
                It's on {{ "thier" if data['applier'] == 'applierNotFamily' else "your" }} National Insurance card, benefit letter, payslip or P60.
                <br>
                For example, ‘QQ 12 34 56 C’.
              </span>
            </label>

            <input class="form-control" id="niNumber" type="text" name="niNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['niNumber'] }}">
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
