{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/your-parent-or-guardian/6">Back</a>

      <form action="/application/question/your-parent-or-guardian-partner/2" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your parent or guardian’s partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <div class="form-group">
            <label class="form-label" for="livingWithParentGuardianPartner">
              Does your carer have a parent or guardian’s partner that is over 18 and lives with you?
              <span class="form-hint">
                By providing these details it may improve your chance of qualifying for Healthy Start.
              </span>
            </label>

            <fieldset class="inline">
              <div class="multiple-choice">
                <input id="livingWithParentGuardianPartnerTrue" type="radio" name="livingWithParentGuardianPartner" value="true" {{ checked('livingWithParentGuardianPartner', 'true') }}>
                <label for="livingWithParentGuardianPartnerTrue">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="livingWithParentGuardianPartnerFalse" type="radio" name="livingWithParentGuardianPartner" value="false" {{ checked('livingWithParentGuardianPartner', 'false') }}>
                <label for="livingWithParentGuardianPartnerFalse">No</label>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
