{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/your-parent-or-guardian-partner/2">Back</a>

      <form action="/application/question/your-parent-or-guardian-partner/4" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your parent or guardian’s partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- National Insurance -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianPartnerNiNumber">
              What is your parent or guardian’s partner's National Insurance Number?
            </label>

            <input class="form-control" id="parentGuardianPartnerNiNumber" type="text" name="parentGuardianPartnerNiNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['parentGuardianPartnerNiNumber'] }}">
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
