{% extends "layout.html" %}

{% block page_title %}
  Enter referral - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Enter code
      </h1>

      <form action="/application/referral/valid-code-eligible" method="post" class="form">
        <div class="form-group">

          <!-- Code -->
          <div class="form-group">
            <label class="form-label" for="refCode">
              <h3 class="heading-small">Code</h3>
            </label>

            <input class="form-control" id="refCode" type="text" name="refCode" required value="{{ data['refCode'] }}">
          </div>

          <!-- National Insurance -->
          <div class="form-group">
            <label class="form-label" for="refCodeNiNumber">
              <h3 class="heading-small">Applicant's National Insurance Number</h3>
              <span class="form-hint">
                It's on their National Insurance card, benefit letter, payslip or P60.
                <br>
                For example, ‘QQ 12 34 56 C’.
              </span>
            </label>

            <input class="form-control" id="refCodeNiNumber" type="text" name="refCodeNiNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['refCodeNiNumber'] }}">
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>

</div>

{% endblock %}
