{% extends "layout.html" %}

{% block page_title %}
  Invalid code - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        The code you entered is not valid
      </h1>

      <p>Please check that you entered the code and your National Insurance Number correctly. If you still receive this message please call our helpline on 0345 607 6823.</p>

      <a class="button button-start" href="/application/referral/enter-code" role="button">Retry</a>

    </div>
  </div>

</div>

{% endblock %}
