{% extends "layout.html" %}

{% block page_title %}
  Invalid code - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        The code you entered has expired
      </h1>

      <p>Sorry, the code you entered has expired, please call our helpline on 0345 607 6823 to request a new code or complete a new application.</p>

      <a class="button button-start" href="/application/section/about/who" role="button">Start new application now</a>

    </div>
  </div>

</div>

{% endblock %}
