{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/applicant-contact-details/2">Back</a>

      <form action="/application/question/your-partner/2" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <div class="form-group">
            <label class="form-label" for="livingWithPartner">
              Do you live with a partner?
              <span class="form-hint">
                By providing these details it may improve your chance of qualifying for Healthy Start.
              </span>
            </label>

            <fieldset class="inline">
              <div class="multiple-choice">
                <input id="livingWithPartnerTrue" type="radio" name="livingWithPartner" value="true" {{ checked('livingWithPartner', 'true') }}>
                <label for="livingWithPartnerTrue">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="livingWithPartnerFalse" type="radio" name="livingWithPartner" value="false" {{ checked('livingWithPartner', 'false') }}>
                <label for="livingWithPartnerFalse">No</label>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
