{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/your-partner/1">Back</a>

      <form action="/application/question/your-partner/3" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <div class="form-group">
            <label class="form-label" for="partnerDob">
              What is your partners date of birth?
              <span class="form-hint">
                <!--  -->
              </span>
            </label>

            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="partnerDobDay">Day</label>
                <input class="form-control" id="partnerDobDay" name="partnerDobDay" type="number" pattern="[0-9]*" min="0" max="31" required value="{{ data['partnerDobDay'] }}">
              </div>

              <div class="form-group form-group-month">
                <label class="form-label" for="partnerDobMonth">Month</label>
                <input class="form-control" id="partnerDobMonth" name="partnerDobMonth" type="number" pattern="[0-9]*" min="0" max="12" required value="{{ data['partnerDobMonth'] }}">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="partnerDobYear">Year</label>
                <input class="form-control" id="partnerDobYear" name="partnerDobYear" type="number" pattern="[0-9]*" min="0" max="2017" required value="{{ data['partnerDobYear'] }}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
