{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/applicant-contact-details/1">Back</a>

      <form action="/application/question/your-partner/3" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <div class="form-group">

            <label class="form-label" for="partner-dob">
              What is your partners date of birth?
              <span class="form-hint">
                <!--  -->
              </span>
            </label>

            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="partner-dob-day">Day</label>
                <input class="form-control" id="partner-dob-day" name="partner-dob-day" type="number" pattern="[0-9]*" min="0" max="31" required value="{{ data['partner-dob-day'] }}">
              </div>

              <div class="form-group form-group-month">
                <label class="form-label" for="partner-dob-month">Month</label>
                <input class="form-control" id="partner-dob-month" name="partner-dob-month" type="number" pattern="[0-9]*" min="0" max="12" required value="{{ data['partner-dob-month'] }}">
              </div>

              <div class="form-group form-group-year">
                <label class="form-label" for="partner-dob-year">Year</label>
                <input class="form-control" id="partner-dob-year" name="partner-dob-year" type="number" pattern="[0-9]*" min="0" max="2017" required value="{{ data['partner-dob-year'] }}">
              </div>
            </div>

          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
