{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/your-partner/3">Back</a>

      <form action="/application/question/your-partner/5" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Name(s) -->
          <div class="form-group">
            <label class="form-label" for="partnerFirstName">First name</label>
            <input type="text" class="form-control" id="partnerFirstName" name="partnerFirstName" required value="{{ data['partnerFirstName'] }}">
          </div>

          <div class="form-group">
            <label class="form-label" for="partnerSurname">Surname</label>
            <input type="text" class="form-control" id="partnerSurname" name="partnerSurname" required value="{{ data['partnerSurname'] }}">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
