{% extends "layout.html" %}

{% block page_title %}
  Healthy start - Start application
{% endblock %}

{% block content %}

<div id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/apply/check-eligibility" class="form">

        <h1 class="heading-large">
          Check eligibility, cost and time
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Check eligibility, cost and time
          </legend>

          <p class="">In this task you'll be asked between 4 and 6 questions.</p>

          <p class="">The answers you give will show:</p>

          <ul class="list list-bullet ">  
            <li>if you're eligible to transport goods</li>
            <li>how much it will cost for you to apply</li>
            <li>how long the application process will take</li>
          </ul> 

          <p class="">This information will be different depending on your answers.</p>

        </fieldset>

        <br>
        
        <div class="form-group">
          <label class="form-label" for="referral-code">Referral code
            <span class="form-hint">
              If you have a referral code please enter it here.
            </span>
          </label>
          <input class="form-control" id="referral-code" type="text" name="referral-code">
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue to questions">
        </div>

      </form>

    </div>
  </div>
  
</div>
{% endblock %}