{% extends "layout.html" %}

{% block page_title %}
  Apply - Your partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/benefits">Back</a>

      <form action="/application/check-answers" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              {{ "Applicant's" if data['applier'] == 'applierNotFamily' else "Your" }} claim to a parent or guardian’s benefits
            </h1>
          </legend>

          <!-- Living with partner -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianBenfitFromBenefits">
              <h3 class="heading-small">Please tell us which of {{ "the applicant's" if data['applier'] == 'applierNotFamily' else "your" }} parent or guardian’s, or their partners, benefits {{ "they" if data['applier'] == 'applierNotFamily' else "you" }} are included in a claim for</h3>
            </label>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance" name="parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance" type="checkbox" {{ checked('parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance', 'on') }}>
              <label for="parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromIncomeSupport" name="parentGuardianBenfitFromIncomeSupport" type="checkbox" {{ checked('parentGuardianBenfitFromIncomeSupport', 'on') }}>
              <label for="parentGuardianBenfitFromIncomeSupport">Income support</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromIncomeBasedJobseekersAllowance" name="parentGuardianBenfitFromIncomeBasedJobseekersAllowance" type="checkbox" {{ checked('parentGuardianBenfitFromIncomeBasedJobseekersAllowance', 'on') }}>
              <label for="parentGuardianBenfitFromIncomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromChildTaxCredit" name="parentGuardianBenfitFromChildTaxCredit" type="checkbox" {{ checked('parentGuardianBenfitFromChildTaxCredit', 'on') }}>
              <label for="parentGuardianBenfitFromChildTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromUniversalCredit" name="parentGuardianBenfitFromUniversalCredit" type="checkbox" {{ checked('parentGuardianBenfitFromUniversalCredit', 'on') }}>
              <label for="parentGuardianBenfitFromUniversalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromNoneOfTheAbove" name="parentGuardianBenfitFromNoneOfTheAbove" type="checkbox" {{ checked('parentGuardianBenfitFromNoneOfTheAbove', 'on') }}>
              <label for="parentGuardianBenfitFromNoneOfTheAbove">None of the above</label>
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
