{% extends "layout.html" %}

{% block page_title %}
  Apply - Your partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/details">Back</a>

      <form action="/application/section/pregnant-or-children" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your claim to a parent or guardian’s benefits
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Living with partner -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianBenfitFromBenefits">
              <h3 class="heading-small">As you are under 20 and in full time education please tell us which of your parent or guardian’s benefits you are included in a claim for</h3>
            </label>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance" name="parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance" type="checkbox" {{ checked('parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance', 'on') }}>
              <label for="parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromIncomeSupport" name="parentGuardianBenfitFromIncomeSupport" type="checkbox" {{ checked('parentGuardianBenfitFromIncomeSupport', 'on') }}>
              <label for="parentGuardianBenfitFromIncomeSupport">Income support</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromIncomeBasedJobseekersAllowance" name="parentGuardianBenfitFromIncomeBasedJobseekersAllowance" type="checkbox" {{ checked('parentGuardianBenfitFromIncomeBasedJobseekersAllowance', 'on') }}>
              <label for="parentGuardianBenfitFromIncomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromChildTaxCredit" name="parentGuardianBenfitFromChildTaxCredit" type="checkbox" {{ checked('parentGuardianBenfitFromChildTaxCredit', 'on') }}>
              <label for="parentGuardianBenfitFromChildTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromWorkingTaxCredit" name="parentGuardianBenfitFromWorkingTaxCredit" type="checkbox" {{ checked('parentGuardianBenfitFromWorkingTaxCredit', 'on') }}>
              <label for="parentGuardianBenfitFromWorkingTaxCredit">Working Tax Credit (do not tick if you are getting WTC run-on only*)</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromUniversalCredit" name="parentGuardianBenfitFromUniversalCredit" type="checkbox" {{ checked('parentGuardianBenfitFromUniversalCredit', 'on') }}>
              <label for="parentGuardianBenfitFromUniversalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
            </div>

            <div class="multiple-choice">
              <input id="parentGuardianBenfitFromNoneOfTheAbove" name="parentGuardianBenfitFromNoneOfTheAbove" type="checkbox" {{ checked('parentGuardianBenfitFromNoneOfTheAbove', 'on') }}>
              <label for="parentGuardianBenfitFromNoneOfTheAbove">None of the above</label>
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
