{% extends "layout.html" %}

{% block page_title %}
  Overview - Healthy start
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                We found your partner
            </h1>

			<p>Before you can continue, please answer the security question as follows</p>

            <a href="/existing-record/security-question" class="button">Continue</a>
            
        </div>
    </div>

</main>

{% endblock %}
