{% extends "layout.html" %}

{% block page_title %}
  Name - About - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/about/ni">Back</a>

      <form action="/application/section/about/benefits" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Incorrect security question
            </h1>
          </legend>
                    
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
