{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian's partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/name">Back</a>

      <form action="/application/section/claim-to-benefits/" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian's partner
            </h1>
          </legend>

          <!-- Parent or guardian's partner's Benefits -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianPartnerClaimBenefits">
              <h3 class="heading-small">{{ "Is the applicant" if data['applier'] == 'applierNotFamily' else "Are you" }} included in the claim for any of the following benefits that {{ "the" if data['applier'] == 'applierNotFamily' else "your" }} parent or guardian’s partner receives?</h3>

              <ul class="list list-bullet">
                <li>Income related Employment and Support Allowance</li>
                <li>Income Support</li>
                <li>Income based Jobseeker's Allowance</li>
                <li>Child Tax Credit (with a family income of £16,190 or less per year)</li>
                <li>Universal Credit (with a family take home pay of £408 or less per month)</li>
              </ul>
            </label>

            <fieldset class="inline">
              <div class="multiple-choice">
                <input id="parentGuardianPartnerClaimBenefitsTrue" type="radio" name="parentGuardianPartnerClaimBenefits" value="true" {{ checked('parentGuardianPartnerClaimBenefits', 'true') }}>
                <label for="parentGuardianPartnerClaimBenefitsTrue">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerClaimBenefitsFalse" type="radio" name="parentGuardianPartnerClaimBenefits" value="false" {{ checked('parentGuardianPartnerClaimBenefits', 'false') }}>
                <label for="parentGuardianPartnerClaimBenefitsFalse">No</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerClaimBenefitsUnknown" type="radio" name="parentGuardianPartnerClaimBenefits" value="unknown" {{ checked('parentGuardianPartnerClaimBenefits', 'unknown') }}>
                <label for="parentGuardianPartnerClaimBenefitsUnknown">I don't know</label>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>
          
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
