{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian's partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/">Back</a>

      <form action="/application/section/parent-guardian-partner/" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your parent or guardian's partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Parent or guardian's partner's DOB -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianPartnerDob">
                <h3 class="heading-small">What is your parent or guardian's partner's date of birth?</h3>
                <!-- <span class="form-hint">

                </span> -->
              </label>

              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="parentGuardianPartnerDobDay">Day</label>
                  <input class="form-control" id="parentGuardianPartnerDobDay" name="parentGuardianPartnerDobDay" type="number" pattern="[0-9]*" min="0" max="31" required value="{{ data['parentGuardianPartnerDobDay'] }}">
                </div>

                <div class="form-group form-group-month">
                  <label class="form-label" for="parentGuardianPartnerDobMonth">Month</label>
                  <input class="form-control" id="parentGuardianPartnerDobMonth" name="parentGuardianPartnerDobMonth" type="number" pattern="[0-9]*" min="0" max="12" required value="{{ data['parentGuardianPartnerDobMonth'] }}">
                </div>

                <div class="form-group form-group-year">
                  <label class="form-label" for="parentGuardianPartnerDobYear">Year</label>
                  <input class="form-control" id="parentGuardianPartnerDobYear" name="parentGuardianPartnerDobYear" type="number" pattern="[0-9]*" min="0" max="2017" required value="{{ data['parentGuardianPartnerDobYear'] }}">
                </div>
              </div>
            </fieldset>
          </div>

          <!-- Parent or guardian's partner's National Insurance -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianPartnerNiNumber">
              <h3 class="heading-small">What’s your parent or guardian's partner's National Insurance Number?</h3>
              <span class="form-hint">
                It's on their National Insurance card, benefit letter, payslip or P60.
                <br>
                For example, ‘QQ 12 34 56 C’.
              </span>
            </label>

            <input class="form-control" id="parentGuardianPartnerNiNumber" type="text" name="parentGuardianPartnerNiNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['parentGuardianPartnerNiNumber'] }}">
          </div>

          <!-- Parent or guardian's partner's Name(s) -->
          <div class="form-group">
            <h3 class="heading-small">What is your parent or guardian's partner's name?</h3>

            <!-- First name -->
            <div class="form-group">
              <label class="form-label" for="parentGuardianPartnerFirstName">
                <span>First name</span>
              </label>

              <input type="text" class="form-control" id="parentGuardianPartnerFirstName" name="parentGuardianPartnerFirstName" required value="{{ data['parentGuardianPartnerFirstName'] }}">
            </div>

            <!-- Surname -->
            <div class="form-group">
              <label class="form-label" for="parentGuardianPartnerSurname">
                <span>Surname</span>
              </label>

              <input type="text" class="form-control" id="parentGuardianPartnerSurname" name="parentGuardianPartnerSurname" value="{{ data['parentGuardianPartnerSurname'] }}">
            </div>
          </div>

          <!-- Parent or guardian's partner's relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianPartnerRelationship">
                <h3 class="heading-small">What is the status of your relationship with your parent or guardian's partner?</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <select class="form-control" id="parentGuardianPartnerRelationship" name="parentGuardianPartnerRelationship" onchange="showOther()" onload="showOther()">
                <option class="mother">Mother</option>
                <option class="father">Father</option>
                <option class="carer">Carer</option>
                <option class="other">Other</option>
              </select>

              <script>
                function setSelectValue(id, val) {
                    document.getElementById(id).value = val;
                }

                setSelectValue('parentGuardianPartnerRelationship', '{{ data['parentGuardianPartnerRelationship'] }}');
              </script>

            </fieldset>
          </div>

          <!-- Parent or guardian's partner's Benefits -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianPartnerBenefits">
                <h3 class="heading-small">Tick all the benefits your parent or guardian's partner gets</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerIncomeRelatedEmploymentAndSupportAllowance" name="parentGuardianPartnerIncomeRelatedEmploymentAndSupportAllowance" type="checkbox" {{ checked('parentGuardianPartnerIncomeRelatedEmploymentAndSupportAllowance', 'on') }}>
                <label for="parentGuardianPartnerIncomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerIncomeSupport" name="parentGuardianPartnerIncomeSupport" type="checkbox" {{ checked('parentGuardianPartnerIncomeSupport', 'on') }}>
                <label for="parentGuardianPartnerIncomeSupport">Income support</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerIncomeBasedJobseekersAllowance" name="parentGuardianPartnerIncomeBasedJobseekersAllowance" type="checkbox" {{ checked('parentGuardianPartnerIncomeBasedJobseekersAllowance', 'on') }}>
                <label for="parentGuardianPartnerIncomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerChildTaxCredit" name="parentGuardianPartnerChildTaxCredit" type="checkbox" {{ checked('parentGuardianPartnerChildTaxCredit', 'on') }}>
                <label for="parentGuardianPartnerChildTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerWorkingTaxCredit" name="parentGuardianPartnerWorkingTaxCredit" type="checkbox" {{ checked('parentGuardianPartnerWorkingTaxCredit', 'on') }}>
                <label for="parentGuardianPartnerWorkingTaxCredit">Working Tax Credit (do not tick if you are getting WTC run-on only*)</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerUniversalCredit" name="parentGuardianPartnerUniversalCredit" type="checkbox" {{ checked('parentGuardianPartnerUniversalCredit', 'on') }}>
                <label for="parentGuardianPartnerUniversalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerNoneOfTheAbove" name="parentGuardianPartnerNoneOfTheAbove" type="checkbox" {{ checked('parentGuardianPartnerNoneOfTheAbove', 'on') }}>
                <label for="parentGuardianPartnerNoneOfTheAbove">None of the above</label>
              </div>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
