{% extends "layout.html" %}

{% block page_title %}
  Date of birth - Parent/guardian partner details - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/relationship">Back</a>

      <form action="/application/section/parent-guardian-partner/ni" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian's partner
            </h1>
          </legend>

          <!-- Parent or guardian's partner's DOB -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianPartnerDob">
                <h3 class="heading-small">Parent or guardian’s partner's date of birth</h3>
              </label>

              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="parentGuardianPartnerDobDay">Day</label>
                  <input class="form-control" id="parentGuardianPartnerDobDay" name="parentGuardianPartnerDobDay" type="number" pattern="[0-9]*" min="0" max="31" required value="{{ data['parentGuardianPartnerDobDay'] }}">
                </div>

                <div class="form-group form-group-month">
                  <label class="form-label" for="parentGuardianPartnerDobMonth">Month</label>
                  <input class="form-control" id="parentGuardianPartnerDobMonth" name="parentGuardianPartnerDobMonth" type="number" pattern="[0-9]*" min="0" max="12" required value="{{ data['parentGuardianPartnerDobMonth'] }}">
                </div>

                <div class="form-group form-group-year">
                  <label class="form-label" for="parentGuardianPartnerDobYear">Year</label>
                  <input class="form-control" id="parentGuardianPartnerDobYear" name="parentGuardianPartnerDobYear" type="number" pattern="[0-9]*" min="0" max="2017" required value="{{ data['parentGuardianPartnerDobYear'] }}">
                </div>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>
          
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
