{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian's partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian/benefits">Back</a>

      <form action="/application/section/parent-guardian-partner/relationship" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian's partner
            </h1>
          </legend>

          <!-- Living with parent/guardian partner -->
          <div class="form-group">
            <fieldset class="inline">

              <label class="form-label" for="livingWithParentGuardianPartner">
                <h3 class="heading-small">Does {{ "the applicant's" if data['applier'] == 'applierNotFamily' else "your" }} parent or guardian have a partner that is over 18 and lives with them?</h3>
                <span class="form-hint">
                  By providing these details it may improve {{ "the applicant's" if data['applier'] == 'applierNotFamily' else "your" }} chance of qualifying for Healthy Start.
                </span>
              </label>

              <fieldset class="inline">
                <div class="multiple-choice">
                  <input id="livingWithParentGuardianPartnerTrue" type="radio" name="livingWithParentGuardianPartner" value="true" {{ checked('livingWithParentGuardianPartner', 'true') }}>
                  <label for="livingWithParentGuardianPartnerTrue">Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="livingWithParentGuardianPartnerFalse" type="radio" name="livingWithParentGuardianPartner" value="false" {{ checked('livingWithParentGuardianPartner', 'false') }}>
                  <label for="livingWithParentGuardianPartnerFalse">No</label>
                </div>
              </fieldset>

            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>
          
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
