{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian's partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/ni">Back</a>

      <form action="/application/section/parent-guardian-partner/benefits" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your parent or guardian's partner
            </h1>
          </legend>

          <!-- Parent or guardian's partner's Name(s) -->
          <div class="form-group">
            <h3 class="heading-small">Parent or guardian’s partner's name</h3>

            <!-- First name -->
            <div class="form-group">
              <label class="form-label" for="parentGuardianPartnerFirstName">
                <span>First name</span>
              </label>

              <input type="text" class="form-control" id="parentGuardianPartnerFirstName" name="parentGuardianPartnerFirstName" required value="{{ data['parentGuardianPartnerFirstName'] }}">
            </div>

            <!-- Surname -->
            <div class="form-group">
              <label class="form-label" for="parentGuardianPartnerSurname">
                <span>Surname</span>
              </label>

              <input type="text" class="form-control" id="parentGuardianPartnerSurname" name="parentGuardianPartnerSurname" value="{{ data['parentGuardianPartnerSurname'] }}">
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
