{% extends "layout.html" %}

{% block page_title %}
  Apply - Parent or guardian's partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/dob">Back</a>

      <form action="/application/section/parent-guardian-partner/name" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your parent or guardian's partner
            </h1>
          </legend>

          <!-- Parent or guardian's partner's National Insurance -->
          <div class="form-group">
            <label class="form-label" for="parentGuardianPartnerNiNumber">
              <h3 class="heading-small">Parent or guardian’s partner's National Insurance Number</h3>
              <span class="form-hint">
                It's on their National Insurance card, benefit letter, payslip or P60.
                <br>
                For example, ‘QQ 12 34 56 C’.
              </span>
            </label>

            <input class="form-control" id="parentGuardianPartnerNiNumber" type="text" name="parentGuardianPartnerNiNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['parentGuardianPartnerNiNumber'] }}">
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
