{% extends "layout.html" %}

{% block page_title %}
  Relationship - Parent/guardian partner details - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/parent-guardian-partner/living-with">Back</a>

      <form action="/application/section/parent-guardian-partner/dob" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Parent or guardian's partner
            </h1>
          </legend>

          <!-- Parent or guardian's partner's relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="parentGuardianPartnerRelationship">
                <h3 class="heading-small">Relationship to {{ "applicant" if data['applier'] == 'applierNotFamily' else "you" }}</h3>
              </label>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerRelationshipMother" type="radio" name="parentGuardianPartnerRelationship" value="mother" {{ checked('parentGuardianPartnerRelationship', 'mother') }}>
                <label for="parentGuardianPartnerRelationshipMother">Mother</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerRelationshipFather" type="radio" name="parentGuardianPartnerRelationship" value="father" {{ checked('parentGuardianPartnerRelationship', 'father') }}>
                <label for="parentGuardianPartnerRelationshipFather">Father</label>
              </div>

              <div class="multiple-choice">
                <input id="parentGuardianPartnerRelationshipCarer" type="radio" name="parentGuardianPartnerRelationship" value="carer" {{ checked('parentGuardianPartnerRelationship', 'carer') }}>
                <label for="parentGuardianPartnerRelationshipCarer">Carer</label>
              </div>

              <div class="multiple-choice" data-target="other">
                <input id="parentGuardianPartnerRelationshipOther" type="radio" name="parentGuardianPartnerRelationship" value="other" {{ checked('parentGuardianPartnerRelationship', 'other') }}>
                <label for="parentGuardianPartnerRelationshipOther">Other</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="other">
                <div class="form-group" id="parentGuardianPartnerRelationshipOtherSpecified">
                  <label class="form-label" for="parentGuardianPartnerRelationshipOtherSpecified">Please specify</label>
                  <input type="text" class="form-control" id="parentGuardianPartnerRelationshipOtherSpecified" name="parentGuardianPartnerRelationshipOtherSpecified" value="{{ data['parentGuardianPartnerRelationshipOtherSpecified'] }}">
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>
          
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
