{% extends "layout.html" %}

{% block page_title %}
  Apply - Applicant contact details - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/about">Back</a>

      <form action="/application/section/partner/living-with" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your contact details
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Phone number -->
          <div class="form-group">
            <label class="form-label" for="phoneNumber">
              <h3 class="heading-small">Your mobile phone number</h3>
              <span class="form-hint">We will use this to keep you updated about your application and to help you manage your account.</span>
            </label>

            <input class="form-control" id="phoneNumber" type="text" name="phoneNumber" required value="{{ data['phoneNumber'] }}">
          </div>

          <!-- Email -->
          <div class="form-group">
            <label class="form-label" for="email">
              <h3 class="heading-small">Your email address</h3>
              <span class="form-hint">We will only use it to tell you about any changes to Healthy Start in the future</span>
            </label>

            <input type="text" class="form-control" id="email" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" value="{{ data['email'] }}">
          </div>

          <!-- Address -->
          <div class="form-group">
            <label class="form-label" for="address">
              <h3 class="heading-small">Your address</h3>
            </label>

            <div class="form-group">
              <label class="form-label" for="buildingStreet1">
                <span>Building and street</span>
              </label>

              <input class="form-control" id="buildingStreet1" type="text" name="buildingStreet1" required value="{{ data['buildingStreet1'] }}">
              <input class="form-control" id="buildingStreet2" type="text" name="buildingStreet2" value="{{ data['buildingStreet2'] }}">
            </div>

            <div class="form-group">
              <label class="form-label" for="town">
                <span>Town or city</span>
              </label>
              <input class="form-control" id="town" type="text" name="town" required value="{{ data['town'] }}">
            </div>

            <div class="form-group">
              <label class="form-label" for="postCode">
                <span>Post code</span>
              </label>
              <input class="form-control" id="postCode" type="text" name="postCode" required pattern="^([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-‌​9]{1,2})|(([A-Za-z][‌​0-9][A-Za-z])|([A-Za‌​-z][A-Ha-hJ-Yj-y][0-‌​9]?[A-Za-z])))) [0-9][A-Za-z]{2})$
  " value="{{ data['postCode'] }}">
            </div>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
