{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/about-you/3">Back</a>

      <form action="/application/question/about-you/5" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              About you
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Name(s) -->
          <div class="form-group">
            <label class="form-label" for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required value="{{ data['firstName'] }}">
          </div>

          <div class="form-group">
            <label class="form-label" for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" required value="{{ data['surname'] }}">
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
