{% extends "layout.html" %}

{% block page_title %}
  Apply - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/question/about-you/4">Back</a>

      <form action="/application/question/about-you/6" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              About you
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Email -->
          <div class="form-group">
            <label class="form-label" for="email">
              Please provide a valid email address
              <span class="form-hint">We will only use it to tell you about any changes to Healthy Start in the future</span>
            </label>

            <input type="text" class="form-control" id="email" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" value="{{ data['email'] }}">
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
