{% extends "layout.html" %}

{% block page_title %}
  Check answers - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>

      <!-- About you -->
      <h2 class="heading-medium">
        You
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            {{ data['dobDay'] }}/{{ data['dobMonth'] }}/{{ data['dobYear'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/about/dob">
              Change<span class="visually-hidden"> DOB</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Full time education
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['fullTimeEducation'] else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/about/education">
              Change<span class="visually-hidden"> full time education</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            National insurance number
          </dt>
          <dd class="cya-answer">
            {{ data['niNumber'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/about/ni">
              Change<span class="visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            {{ data['firstName']}} {{ data['surname']}}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/about/name">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Benefits receiving
          </dt>
          <dd class="cya-answer">
            <div>{{ "- Income-related Employment and Support Allowance" if data['incomeRelatedEmploymentAndSupportAllowance'] }}</div>
            <div>{{ "- Income support" if data['incomeSupport'] }}</div>
            <div>{{ "- Income-based jobseeker's Allowance" if data['incomeBasedJobseekersAllowance'] }}</div>
            <div>{{ "- Child tax Credit (with a family income of £16,190 or less per year)" if data['childTaxCredit'] }}</div>
            <div>{{ "- Universal credit (with a family take home pay of £408 or less per month)" if data['universalCredit'] }}</div>
            <div>{{ "- None" if data['noneOfTheAbove'] }}</div>
          </dd>
          <dd class="cya-change">
            <a href="/application/section/about/benefits">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <!-- Appicant contact details -->
      <h2 class="heading-medium">
        Your contact details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Phone number
          </dt>
          <dd class="cya-answer">
            {{ data['phoneNumber'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/contact-details">
              Change<span class="visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Email address
          </dt>
          <dd class="cya-answer">
            {{ data['email']}}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/contact-details">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Address
          </dt>
          <dd class="cya-answer">
            <div>{{ data['addressLine1']}}</div>
            <div>{{ data['addressLine2']}}</div>
            <div>{{ data['town']}}</div>
            <div>{{ data['postCode']}}</div>
          </dd>
          <dd class="cya-change">
            <a href="/application/section/contact-details">
              Change<span class="visually-hidden"> address</span>
            </a>
          </dd>
        </div>
      </dl>

      <!-- Partner details -->
      <h2 class="heading-medium">
        Partner
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Living with partner
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['livingWithPartner'] === 'true' else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/partner/living-with">
              Change<span class="visually-hidden"> living with partner</span>
            </a>
          </dd>
        </div>

        {% if data['livingWithPartner'] == 'true' %}
        <div>
          <dt class="cya-question">
            Relationship
          </dt>
          <dd class="cya-answer">
            {{ data['partnerRelationship'] if data['partnerRelationship'] != 'Other' else data['partnerRelationshipOther'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/partner/relationship">
              Change<span class="visually-hidden"> relationship</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            {{ data['partnerDobDay'] }}/{{ data['partnerDobMonth'] }}/{{ data['partnerDobYear'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/partner/dob">
              Change<span class="visually-hidden"> DOB</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            National insurance number
          </dt>
          <dd class="cya-answer">
            {{ data['partnerNiNumber'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/partner/ni">
              Change<span class="visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            {{ data['partnerFirstName']}} {{ data['partnerSurname']}}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/partner/name">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Benefits receiving
          </dt>
          <dd class="cya-answer">
            <div>{{ "- Income-related Employment and Support Allowance" if data['partnerIncomeRelatedEmploymentAndSupportAllowance'] }}</div>
            <div>{{ "- Income support" if data['partnerIncomeSupport'] }}</div>
            <div>{{ "- Income-based jobseeker's Allowance" if data['partnerIncomeBasedJobseekersAllowance'] }}</div>
            <div>{{ "- Child tax Credit (with a family income of £16,190 or less per year)" if data['partnerChildTaxCredit'] }}</div>
            <div>{{ "- Universal credit (with a family take home pay of £408 or less per month)" if data['partnerUniversalCredit'] }}</div>
            <div>{{ "- None" if data['partnerNoneOfTheAbove'] }}</div>
          </dd>
          <dd class="cya-change">
            <a href="/application/section/partner/benefits">
              Change<span class="visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- Parent/Guardian details -->
      <h2 class="heading-medium">
        Parent/Guardian details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Living with parent/guardian
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['livingWithParentGuardian'] else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian/living-with">
              Change<span class="visually-hidden"> living with parent/guardian</span>
            </a>
          </dd>
        </div>

        {% if data['livingWithParentGuardian'] == 'true' %}
        <div>
          <dt class="cya-question">
            Relationship
          </dt>
          <dd class="cya-answer">
            {{ data['parentGuardianRelationship'] if data['parentGuardianRelationship'] != 'Other' else data['parentGuardianRelationshipOther'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian/relationship">
              Change<span class="visually-hidden"> relationship</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            {{ data['parentGuardianDobDay'] }}/{{ data['parentGuardianDobMonth'] }}/{{ data['parentGuardianDobYear'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian/dob">
              Change<span class="visually-hidden"> DOB</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            National insurance number
          </dt>
          <dd class="cya-answer">
            {{ data['parentGuardianNiNumber'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian/ni">
              Change<span class="visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            {{ data['parentGuardianFirstName']}} {{ data['parentGuardianSurname']}}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian/name">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Included in benefit claim
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['parentGuardianClaimBenefits'] else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian/benefits">
              Change<span class="visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- Parent/Guardian partner details -->
      <h2 class="heading-medium">
        Parent/Guardian partner details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Living with parent/guardian's partner
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['livingWithParentGuardianPartner'] else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/parent-guardian-partner/living-with">
              Change<span class="visually-hidden"> living with parent/guardian's partner</span>
            </a>
          </dd>
        </div>

        {% if data['livingWithParentGuardianPartner'] == 'true' %}
          <div>
            <dt class="cya-question">
              Relationship
            </dt>
            <dd class="cya-answer">
              {{ data['parentGuardianPartnerRelationship'] if data['parentGuardianPartnerRelationship'] != 'Other' else data['parentGuardianPartnerRelationshipOther'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/parent-guardian-partner/relationship">
                Change<span class="visually-hidden"> relationship</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Date of birth
            </dt>
            <dd class="cya-answer">
              {{ data['parentGuardianPartnerDobDay'] }}/{{ data['parentGuardianPartnerDobMonth'] }}/{{ data['parentGuardianPartnerDobYear'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/parent-guardian-partner/dob">
                Change<span class="visually-hidden"> DOB</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              National insurance number
            </dt>
            <dd class="cya-answer">
              {{ data['parentGuardianPartnerNiNumber'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/parent-guardian-partner/ni">
                Change<span class="visually-hidden"> national insurance number</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Name
            </dt>
            <dd class="cya-answer">
              {{ data['parentGuardianPartnerFirstName']}} {{ data['parentGuardianPartnerSurname']}}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/parent-guardian-partner/name">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Included in benefit claim
            </dt>
            <dd class="cya-answer">
              {{ "Yes" if data['parentGuardianPartnerClaimBenefits'] else "No" }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/parent-guardian-partner/benefits">
                Change<span class="visually-hidden"> benefits</span>
              </a>
            </dd>
          </div>
        {% endif %}
      </dl>

      <!-- Your claim to a parent or guardian’s benefits -->
      <h2 class="heading-medium">
        Your claim to a parent or guardian’s or parent or guardian’s partners benefits
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        {% if data['parentGuardianClaimBenefits'] and data['parentGuardianPartnerClaimBenefits'] %}
        <div>
          <dt class="cya-question">
            Benefits included in claim for
          </dt>
          <dd class="cya-answer">
            <div>{{ "- Income-related Employment and Support Allowance" if data['parentGuardianBenfitFromIncomeRelatedEmploymentAndSupportAllowance'] }}</div>
            <div>{{ "- Income support" if data['parentGuardianBenfitFromIncomeSupport'] }}</div>
            <div>{{ "- Income-based jobseeker's Allowance" if data['parentGuardianBenfitFromIncomeBasedJobseekersAllowance'] }}</div>
            <div>{{ "- Child tax Credit (with a family income of £16,190 or less per year)" if data['parentGuardianBenfitFromChildTaxCredit'] }}</div>
            <div>{{ "- Universal credit (with a family take home pay of £408 or less per month)" if data['parentGuardianBenfitFromUniversalCredit'] }}</div>
            <div>{{ "- None" if data['parentGuardianBenfitFromNoneOfTheAbove'] }}</div>
          </dd>
          <dd class="cya-change">
            <a href="/application/section/claim-to-benefits">
              Change<span class="visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- Pregnant -->
      <h2 class="heading-medium">
        Pregnancy
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Pregnant
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['pregnant'] === 'true' else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/pregnant">
              Change<span class="visually-hidden"> pregnancy status</span>
            </a>
          </dd>
        </div>

        {% if data['pregnant'] === 'true' %}
        <div>
          <dt class="cya-question">
            Expected delivery date
          </dt>
          <dd class="cya-answer">
            {{ data['deliveryDateDay'] }}/{{ data['deliveryDateMonth'] }}/{{ data['deliveryDateYear'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/pregnant">
              Change<span class="visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <!-- Children -->
      <h2 class="heading-medium">
        Children
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Children
          </dt>
          <dd class="cya-answer">
            {{ "Yes" if data['children'] === "true" else "No" }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/children">
              Change<span class="visually-hidden"> pregnancy status</span>
            </a>
          </dd>
        </div>

        {% if data['children'] === "true" %}
        <div>
          <dt class="cya-question">
            First child DOB
          </dt>
          <dd class="cya-answer">
            {{ data['childOneDobDay'] }}/{{ data['childOneDobMonth'] }}/{{ data['childOneDobYear'] }}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/children">
              Change<span class="visually-hidden"> child</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            First child Name
          </dt>
          <dd class="cya-answer">
            {{ data['childOneFirstName']}} {{ data['childOneSurname']}}
          </dd>
          <dd class="cya-change">
            <a href="/application/section/children">
              Change<span class="visually-hidden"> child</span>
            </a>
          </dd>
        </div>

          {% if data['childTwoFirstName'] %}
          <div>
            <dt class="cya-question">
              Second child DOB
            </dt>
            <dd class="cya-answer">
              {{ data['childTwoDobDay'] }}/{{ data['childTwoDobDay'] }}/{{ data['childTwoDobDay'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Second child Name
            </dt>
            <dd class="cya-answer">
              {{ data['childTwoFirstName']}} {{ data['childTwoSurname']}}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['childThree'] %}
          <div>
            <dt class="cya-question">
              Third child DOB
            </dt>
            <dd class="cya-answer">
              {{ data['childThreeDobDay'] }}/{{ data['childThreeDobDay'] }}/{{ data['childThreeDobDay'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Third child Name
            </dt>
            <dd class="cya-answer">
              {{ data['childThreeFirstName']}} {{ data['childThreeSurname']}}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['childFour'] %}
          <div>
            <dt class="cya-question">
              Fourth child DOB
            </dt>
            <dd class="cya-answer">
              {{ data['childFourDobDay'] }}/{{ data['childFourDobDay'] }}/{{ data['childFourDobDay'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Fourth child Name
            </dt>
            <dd class="cya-answer">
              {{ data['childFourFirstName']}} {{ data['childFourSurname']}}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['childFifth'] %}
          <div>
            <dt class="cya-question">
              Fifth child DOB
            </dt>
            <dd class="cya-answer">
              {{ data['childFifthDobDay'] }}/{{ data['childFifthDobDay'] }}/{{ data['childFifthDobDay'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Fifth child Name
            </dt>
            <dd class="cya-answer">
              {{ data['childFifthFirstName']}} {{ data['childFifthSurname']}}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if data['childSixth'] %}
          <div>
            <dt class="cya-question">
              Sixth child DOB
            </dt>
            <dd class="cya-answer">
              {{ data['childSixDobDay'] }}/{{ data['childSixDobDay'] }}/{{ data['childSixDobDay'] }}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>

          <div>
            <dt class="cya-question">
              Sixth child Name
            </dt>
            <dd class="cya-answer">
              {{ data['childSixFirstName']}} {{ data['childSixSurname']}}
            </dd>
            <dd class="cya-change">
              <a href="/application/section/children">
                Change<span class="visually-hidden"> child</span>
              </a>
            </dd>
          </div>
          {% endif %}
        {% endif %}
      </dl>

      <h2 class="heading-medium">Now send your application</h2>

      <p class="text">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="/application/confirmation" class="button">Accept and send application</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
