{% extends "layout.html" %}

{% block page_title %}
  Confirmation - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Application complete
        </h1>
        <p class="font-large">
          {{ "Applicant" if data['applier'] == 'applierNotFamily' else "Your" }} reference number is <br>
          <strong class="bold">HDJ2123F</strong>
          
          {{ data['weeksPregnant'] }}
        </p>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <ul class="list list-bullet">
        <li>We'll check your application</li>
        <li>We'll send {{ "the applicant" if data['applier'] == 'applierNotFamily' else "you" }} an SMS of {{ "their" if data['applier'] == 'applierNotFamily' else "your" }} application status</li>
        <li>Once your application has been approved, {{ "the applicant" if data['applier'] == 'applierNotFamily' else "you" }} will receive your card within 5-7 working days</li>
        <li>If you have any questions or concerns please call us on <a href="tel:03456076823">0345 607 6823</a></li>
      </ul>

    </div>
  </div>

</div>

{% endblock %}
