{% extends "layout.html" %}

{% block page_title %}
  Benefits - Partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/partner/name">Back</a>

      <form action="/application/section/parent-guardian/living-with" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              {{ "Applicant's" if data['applier'] == 'applierNotFamily' else "Your" }} partner
            </h1>
          </legend>

          <!-- Partner Benefits -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="partnerBenefits">
                <h3 class="heading-small">Tick ALL the benefits {{ "the applicant's" if data['applier'] == 'applierNotFamily' else "your" }} partner receives</h3>
              </label>

              <div class="multiple-choice">
                <input id="partnerIncomeRelatedEmploymentAndSupportAllowance" name="partnerIncomeRelatedEmploymentAndSupportAllowance" type="checkbox" value="true" {{ checked('partnerIncomeRelatedEmploymentAndSupportAllowance', 'true') }}>
                <label for="partnerIncomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerIncomeSupport" name="partnerIncomeSupport" type="checkbox" value="true" {{ checked('partnerIncomeSupport', 'true') }}>
                <label for="partnerIncomeSupport">Income support</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerIncomeBasedJobseekersAllowance" name="partnerIncomeBasedJobseekersAllowance" type="checkbox" value="true" {{ checked('partnerIncomeBasedJobseekersAllowance', 'true') }}>
                <label for="partnerIncomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerChildTaxCredit" name="partnerChildTaxCredit" type="checkbox" value="true" {{ checked('partnerChildTaxCredit', 'true') }}>
                <label for="partnerChildTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerUniversalCredit" name="partnerUniversalCredit" type="checkbox" value="true" {{ checked('partnerUniversalCredit', 'true') }}>
                <label for="partnerUniversalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerNoneOfTheAbove" name="partnerNoneOfTheAbove" type="checkbox" value="true" {{ checked('partnerNoneOfTheAbove', 'true') }}>
                <label for="partnerNoneOfTheAbove">None of the above</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <!-- Submit -->
            <input type="submit" class="button" value="Continue">

            <!-- Save -->
            <input id="save" type="submit" class="button" value="Save">
          </div>
          
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
