{% extends "layout.html" %}

{% block page_title %}
  Apply - Your partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/partner/">Back</a>

      <form action="/application/section/partner/" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Partner DOB -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="partnerDob">
                <h3 class="heading-small">What is your partner's date of birth?</h3>
                <!-- <span class="form-hint">

                </span> -->
              </label>

              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="partnerDobDay">Day</label>
                  <input class="form-control" id="partnerDobDay" name="partnerDobDay" type="number" pattern="[0-9]*" min="0" max="31" required value="{{ data['partnerDobDay'] }}">
                </div>

                <div class="form-group form-group-month">
                  <label class="form-label" for="partnerDobMonth">Month</label>
                  <input class="form-control" id="partnerDobMonth" name="partnerDobMonth" type="number" pattern="[0-9]*" min="0" max="12" required value="{{ data['partnerDobMonth'] }}">
                </div>

                <div class="form-group form-group-year">
                  <label class="form-label" for="partnerDobYear">Year</label>
                  <input class="form-control" id="partnerDobYear" name="partnerDobYear" type="number" pattern="[0-9]*" min="0" max="2017" required value="{{ data['partnerDobYear'] }}">
                </div>
              </div>
            </fieldset>
          </div>

          <!-- Partner National Insurance -->
          <div class="form-group">
            <label class="form-label" for="partnerNiNumber">
              <h3 class="heading-small">What’s your partner's National Insurance Number?</h3>
              <span class="form-hint">
                It's on their National Insurance card, benefit letter, payslip or P60.
                <br>
                For example, ‘QQ 12 34 56 C’.
              </span>
            </label>

            <input class="form-control" id="partnerNiNumber" type="text" name="partnerNiNumber" pattern="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$" required value="{{ data['partnerNiNumber'] }}">
          </div>

          <!-- Partner Name(s) -->
          <div class="form-group">
            <h3 class="heading-small">What is your partners name?</h3>

            <!-- First name -->
            <div class="form-group">
              <label class="form-label" for="partnerFirstName">
                <span>First name</span>
              </label>

              <input type="text" class="form-control" id="partnerFirstName" name="partnerFirstName" required value="{{ data['partnerFirstName'] }}">
            </div>

            <!-- Surname -->
            <div class="form-group">
              <label class="form-label" for="partnerSurname">
                <span>Surname</span>
              </label>

              <input type="text" class="form-control" id="partnerSurname" name="partnerSurname" value="{{ data['partnerSurname'] }}">
            </div>
          </div>

          <!-- Partner relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="partnerRelationship">
                <h3 class="heading-small">What is the status of your relationship with your partner?</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <select class="form-control" id="partnerRelationship" name="partnerRelationship" onchange="showOther()" onload="showOther()">
                <option class="husband">Husband</option>
                <option class="wife">Wife</option>
                <option class="boyfriend">Boyfriend</option>
                <option class="girlfriend">Girlfriend</option>
                <option class="other">Other</option>
              </select>

              <script>
                function setSelectValue(id, val) {
                    document.getElementById(id).value = val;
                }

                function showOther(){
                  if (document.getElementById('partnerRelationship').value == 'Other') {
                    document.getElementById('partnerRelationshipOther').style.display = "block";
                  }
                }

                setSelectValue('partnerRelationship', '{{ data['partnerRelationship'] }}');
                showOther();
              </script>

            </fieldset>
          </div>

          <div class="form-group" id="partnerRelationshipOther" style="display: none;">
            <label class="form-label" for="partnerRelationshipOther">Please specify</label>
            <input type="text" class="form-control" id="partnerRelationshipOther" name="partnerRelationshipOther" value="{{ data['partnerRelationshipOther'] }}">
          </div>

          <!-- Partner Benefits -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="partnerBenefits">
                <h3 class="heading-small">Tick all the benefits your partner gets</h3>
                <!-- <span class="form-hint"></span> -->
              </label>

              <div class="multiple-choice">
                <input id="partnerIncomeRelatedEmploymentAndSupportAllowance" name="partnerIncomeRelatedEmploymentAndSupportAllowance" type="checkbox" {{ checked('partnerIncomeRelatedEmploymentAndSupportAllowance', 'on') }}>
                <label for="partnerIncomeRelatedEmploymentAndSupportAllowance">Income-related Employment and Support Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerIncomeSupport" name="partnerIncomeSupport" type="checkbox" {{ checked('partnerIncomeSupport', 'on') }}>
                <label for="partnerIncomeSupport">Income support</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerIncomeBasedJobseekersAllowance" name="partnerIncomeBasedJobseekersAllowance" type="checkbox" {{ checked('partnerIncomeBasedJobseekersAllowance', 'on') }}>
                <label for="partnerIncomeBasedJobseekersAllowance">Income-based jobseeker's Allowance</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerChildTaxCredit" name="partnerChildTaxCredit" type="checkbox" {{ checked('partnerChildTaxCredit', 'on') }}>
                <label for="partnerChildTaxCredit">Child tax Credit (with a family income of £16,190 or less per year)</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerWorkingTaxCredit" name="partnerWorkingTaxCredit" type="checkbox" {{ checked('partnerWorkingTaxCredit', 'on') }}>
                <label for="partnerWorkingTaxCredit">Working Tax Credit (do not tick if you are getting WTC run-on only*)</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerUniversalCredit" name="partnerUniversalCredit" type="checkbox" {{ checked('partnerUniversalCredit', 'on') }}>
                <label for="partnerUniversalCredit">Universal credit (with a family take home pay of £408 or less per month)</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerNoneOfTheAbove" name="partnerNoneOfTheAbove" type="checkbox" {{ checked('partnerNoneOfTheAbove', 'on') }}>
                <label for="partnerNoneOfTheAbove">None of the above</label>
              </div>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
