{% extends "layout.html" %}

{% block page_title %}
  Apply - Your partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/applicant-contact-details">Back</a>

      <form action="/application/section/partner/details" method="get" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              Your partner
            </h1>
            <!-- <p class="body-text"></p> -->
          </legend>

          <!-- Living with partner -->
          <div class="form-group">
            <fieldset class="inline">

              <label class="form-label" for="livingWithPartner">
                <h3 class="heading-small">Do you live with a partner?</h3>
                <span class="form-hint">
                  By providing these details it may improve your chance of qualifying for Healthy Start.
                </span>
              </label>

              <fieldset class="inline">
                <div class="multiple-choice">
                  <input id="livingWithPartnerTrue" type="radio" name="livingWithPartner" value="true" {{ checked('livingWithPartner', 'true') }}>
                  <label for="livingWithPartnerTrue">Yes</label>
                </div>

                <div class="multiple-choice">
                  <input id="livingWithPartnerFalse" type="radio" name="livingWithPartner" value="false" {{ checked('livingWithPartner', 'false') }}>
                  <label for="livingWithPartnerFalse">No</label>
                </div>
              </fieldset>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
