{% extends "layout.html" %}

{% block page_title %}
  Apply - Your partner - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/application/section/partner/living-with">Back</a>

      <form action="/application/section/partner/dob" method="post" class="form">
        <div class="form-group">

          <legend>
            <h1 class="heading-large">
              {{ "Applicant" if data['applier'] == 'applierNotFamily' else "Your" }} partner
            </h1>
          </legend>

          <!-- Partner relationship -->
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="partnerRelationship">
                <h3 class="heading-small">Relationship to {{ "applicant" if data['applier'] == 'applierNotFamily' else "you" }}</h3>
              </label>

              <div class="multiple-choice">
                <input id="partnerRelationshipHusband" type="radio" name="partnerRelationship" value="husband" {{ checked('partnerRelationship', 'husband') }}>
                <label for="partnerRelationshipHusband">Husband</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerRelationshipWife" type="radio" name="partnerRelationship" value="wife" {{ checked('partnerRelationship', 'wife') }}>
                <label for="partnerRelationshipWife">Wife</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerRelationshipBoyfriend" type="radio" name="partnerRelationship" value="boyfriend" {{ checked('partnerRelationship', 'boyfriend') }}>
                <label for="partnerRelationshipBoyfriend">Boyfriend</label>
              </div>

              <div class="multiple-choice">
                <input id="partnerRelationshipGirlfriend" type="radio" name="partnerRelationship" value="girlfriend" {{ checked('partnerRelationship', 'girlfriend') }}>
                <label for="partnerRelationshipGirlfriend">Girlfriend</label>
              </div>

              <div class="multiple-choice" data-target="other">
                <input id="partnerRelationshipOther" type="radio" name="partnerRelationship" value="other" {{ checked('partnerRelationship', 'other') }}>
                <label for="partnerRelationshipOther">Other</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="other">
                <div class="form-group" id="partnerRelationshipOtherSpecified">
                  <label class="form-label" for="partnerRelationshipOtherSpecified">Please specify</label>
                  <input type="text" class="form-control" id="partnerRelationshipOtherSpecified" name="partnerRelationshipOtherSpecified" value="{{ data['partnerRelationshipOtherSpecified'] }}">
                </div>
              </div>

            </fieldset>
          </div>

          <!-- Submit -->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
