{% extends "layout.html" %}

{% block page_title %}
  Select journey - Healthy Start
{% endblock %}

{% block content %}

<div id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Please select the journey you would like to test
      </h1>

      <h2 class="heading-medium">(New record is still in development)</h2>

      <a href="/overview?record=existing" class="button button-start">Existing record</a>

      <a href="/overview" class="button button-start">New record</a>

    </div>
  </div>
</div>

{% endblock %}
