{% extends "layout.html" %}

{% block page_title %}
  Healthy start - Start application
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Healthy Start is here to help you give your family the very best start in life.</p>

      <p>If you are If you are pregnant or have a children under the age of four and your or your family are receiving a qualifying benefit, Healthy Start can provide vouchers or a pre-paid card that can help you pay for:</p>

      <ul class="list list-bullet">
        <li>Milk</li>
        <li>Fresh or frozen fruit</li>
        <li>Fresh or frozen vegetables</li>
        <li>Infant formula milk</li>
      </ul>

      <p>We can find out with some very simple questions if you’re eligible.
      <br>Registering takes around 10 minutes. </p>

      <p>
        <a class="button button-start" href="/check-eligibility" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <ul class="list list-bullet">
        <li>You can fill out this form with your health visitor or midwife.</li>
        <li>You can also register by post.</li>
        <li>The online service is also available in Welsh (Cymraeg).</li>
        <li>You can’t register for this service if you’re in the UK illegally.</li>
      </ul>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</div>

{% endblock %}