{% extends "layout.html" %}

{% block page_title %}
  Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Healthy Start</h1>

      <h2 class="heading-medium">Application</h2>

      <ul class="list list-bullet">
        <li><a href="/apply">Begin application</a></li>
      </ul>

      <h2 class="heading-medium">Testing</h2>

      <ul class="list list-bullet">
        <li><a href="/test-playground">Test page</a></li>
      </ul>

    </div>
  </div>
  
</div>

{% endblock %}