{% extends "govuk_template_unbranded.html" %}

{% block head %}
  {% include "includes/head.html" %}

  <div class="nhs-head" style="padding-top: 60px; border-bottom: 2px solid #005eb8;">

  </div>
{% endblock %}

{% block cookie_message %}
  <!-- <p>{{cookieText | safe }}</p> -->
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
        <!--
        <ul id="proposition-links">
          <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
          <li><a href="url-to-page-2">Navigation item #2</a></li>
        </ul>
        -->
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}

  with-proposition

{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  <div id="content" role="main" style="padding-bottom: 0;">

    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="button" style="margin: 12px 0;" href="/prototype-admin/clear-data">Clear session data</a>

        <a class="button" style="margin: 12px 0;" href="/">Return to start</a>
      </div>
    </div>

  </div>

  {% block scripts %}
    {% include "includes/scripts.html" %}

    <script>
      $(function() {
        $('.link-back').on('click', function(event) {
          event.preventDefault();

          history.back();
        })

        changeFormActions();
  
        {{ data['confirmingDetails'] == 'Test' }} 
        console.log({{ data['confirmingDetails'] }});
      })

      function changeFormActions() {
        var saveableFields = {{ 'true' if data['saveableFields'] else 'false' }}

        if (saveableFields) {
          $('#save').show();

          $('#save').click(function() {
            $('form.form').attr('action', '/application/check-answers');
          });
        }
      }

    </script>
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
