{% extends "layout.html" %}

{% block page_title %}
  Navigate - Healthy start
{% endblock %}

{% block content %}

<div id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Navigate
      </h1>

      <ul class="list list-bullet">
        <li><a href="/">Start</a></li>
        <li><a href="/check-eligibility">Check eligibility page</a></li>
        <li><a href="/check-eligibility/form">Check eligibility form</a></li>
        <li><a href="/check-eligibility/enter-referral">Enter referral</a></li>
        <li><a href="/application">Application form</a></li>
        <li><a href="/application/check-answers">Check answers</a></li>
        <li><a href="/application/confirmation">Confirmation</a></li>
      </ul>

    </div>
  </div>

</div>

{% endblock %}