{% extends "layout.html" %}

{% block page_title %}
  Report a change of circumstances - Healthy start
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="pub-c-title pub-c-title--bottom-margin">
                <h1 class="pub-c-title__text ">
                    Healthy Start
                </h1>
            </div>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
                    <ol class="column-half">
                        <li>
                            <a href="/overview">Overview</a>
                        </li>
                        <li>
                            <a href="/what-youll-get">What you'll get</a>
                        </li>
                        <li>
                            <a href="/eligibility">Eligibility</a>
                        </li>
                    </ol>
                    <ol class="column-half" start="4">
                        <li>
                            <a href="/how-to-claim">How to claim</a>
                        </li>
                        <li>
                            Report a change of circumstances
                        <li>
                            <a href="/vitamins">Vitamins</a>
                        </li>
                    </ol>
                </nav>
            </aside>

            <h1 class="part-title">
                5. Report a change of circumstances
            </h1>

            <div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
                <p>You need to report changes to your circumstances so you keep receiving your Healthy Start allowance.</p>

                <p>Your Healthy Start allowance might be stopped or reduced if you don’t report a change of circumstances straight away.</p>

                <p>Changes can include:</p>

                <ul class="list list-bullet">
                    <li>your child has been born</li>
                    <li>moving in with your partner</li>
                    <li>you or your partner start or stop receiving an eligible benefit</li>
                    <li>moving to a new address</li>
                    <li>changing your phone number or email address</li>
                </ul>

                <p>Also if you are under 20 years old:</p>

                <ul class="list list-bullet">
                    <li>moving in with your parents or a guardian</li>
                    <li>your parent or guardian start or stop receiving an eligible benefit and you live with them</li>
                    <li>starting or stopping full time education</li>
                </ul>

                <p>To report a change of circumstances:</p>

                <ul class="list list-bullet">
                    <!-- <li><a href="/application/change-details">Tell us about a change online</a> - you will need your national insurance number and DOB</li> -->
                    <li>Call the Healthy Start helpline</li>
                </ul>

                <div class="contact">
                    <p><strong>Healthy Start helpline</strong><br>
                    Telephone: 0800 328 9344<br>
                    Welsh language: 0800 012 1888<br>
                    Monday to Friday, 8am to 6pm <br>
                    <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
                </div>
            </div>

            <nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
                <ul class="pub-c-pagination__list">
                    <li class="pub-c-pagination__item pub-c-pagination__item--previous">
                       <a href="/how-to-claim" class="pub-c-pagination__link" rel="prev">
                          <span class="pub-c-pagination__link-title">
                             <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                             </svg>
                             Previous
                          </span>
                          <span class="visually-hidden">:</span>
                          <span class="pub-c-pagination__link-label">How to claim</span>
                       </a>
                    </li>

                    <li class="pub-c-pagination__item pub-c-pagination__item--next">
                        <a href="/vitamins" class="pub-c-pagination__link" rel="next">
                            <span class="pub-c-pagination__link-title">
                                Next
                                <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                            </span>
                            <span class="visually-hidden">:</span>
                            <span class="pub-c-pagination__link-label">Vitamins</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-third add-title-margin">
            <aside class="govuk-related-items" data-module="track-click" role="complementary">
              <h2 data-track-count="sidebarRelatedItemSection">
                Financial help if you have children
              </h2>


              <nav role="navigation">
                <ul>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}" href="https://www.gov.uk/child-benefit">Claim Child Benefit</a>
                    </li>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/maternity-allowance" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Maternity Allowance&quot;}" href="https://www.gov.uk/maternity-allowance">Maternity Allowance</a>
                    </li>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/sure-start-maternity-grant" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Sure Start Maternity Grant&quot;}" href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a>
                    </li>
                    <li class="related-items-more">
                        <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">
                        More
                          <span class="visuallyhidden">
                            in
                            Financial help if you have children
                          </span>
                        </a>            
                    </li>
                </ul>
              </nav>
            </aside>
        </div>
    </div>

</main>

{% endblock %}
