{% extends "layout.html" %}

{% block page_title %}
   Vitamins - Healthy start
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="pub-c-title pub-c-title--bottom-margin">
                <h1 class="pub-c-title__text ">
                    Healthy Start
                </h1>
            </div>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
                    <ol class="column-half">
                        <li>
                            <a href="/">Overview</a>
                        </li>
                        <li>
                            <a href="/what-youll-get">What you'll get</a>
                        </li>
                        <li>
                            <a href="/eligibility">Eligibility</a>
                        </li>
                    </ol>
                    <ol class="column-half" start="4">
                        <li>
                            <a href="/how-to-claim">How to claim</a>
                        </li>
                        <li>
                            <a href="/report-a-change-of-circumstances">Report a change of circumstances</a>
                        <li>
                            Vitamins
                        </li>
                    </ol>
                </nav>
            </aside>

            <h1 class="part-title">
                6. Vitamins
            </h1>

            <div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
                <p>Pregnant women, women with a baby under one year old and children from six months old to their fourth birthday on Healthy Start will get Healthy Start vitamin coupons. These will be sent to you every eight weeks.</p>

                <p>Healthy Start vitamins are for children from six months old or who are having less than 500ml (one pint) of infant formula a day. Babies under six months old who are fully breastfed might benefit from them earlier – ask your midwife or health visitor for advice.</p>

                <p><strong>How to get Healthy Start vitamins</strong></p>

                <p>England: Click here to find phone numbers and addresses for local distribution points.  It may be helpful to call ahead if you have not claimed vitamins before.  You can also ask your midwife or health visitor where you can swap your green coupon locally.</p>

                <p>Scotland: Click here to find out where they are available locally or ask your midwife or health visitor.</p>

                <p>Wales: Ask your midwife or health visitor where they are available locally.</p>

                <p>Northern Ireland: Post the top of Healthy Start letter which shows your address along with the green coupon to the following address and the Healthy Start vitamins will be posted directly to you – remember to send the part of the letter with your address as well as the green coupon:</p>

                <p>Business Services Organisation
                <br>Healthy Start vitamin scheme
                <br>Pinewood Villa
                <br>73 Loughgall Road
                <br>Armagh
                <br>BT61 7PR</p>
            </div>

            <nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
                <ul class="pub-c-pagination__list">
                    <li class="pub-c-pagination__item pub-c-pagination__item--previous">
                       <a href="/report-a-change-of-circumstances" class="pub-c-pagination__link" rel="prev">
                          <span class="pub-c-pagination__link-title">
                             <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                             </svg>
                             Previous
                          </span>
                          <span class="visually-hidden">:</span>
                          <span class="pub-c-pagination__link-label">Report a change of circumstances</span>
                       </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-third add-title-margin">
            <aside class="govuk-related-items" data-module="track-click" role="complementary">
              <h2 data-track-count="sidebarRelatedItemSection">
                Financial help if you have children
              </h2>


              <nav role="navigation">
                <ul>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}" href="https://www.gov.uk/child-benefit">Claim Child Benefit</a>
                    </li>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/maternity-allowance" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Maternity Allowance&quot;}" href="https://www.gov.uk/maternity-allowance">Maternity Allowance</a>
                    </li>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/sure-start-maternity-grant" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Sure Start Maternity Grant&quot;}" href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a>
                    </li>
                    <li class="related-items-more">
                        <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">
                        More
                          <span class="visuallyhidden">
                            in
                            Financial help if you have children
                          </span>
                        </a>            
                    </li>
                </ul>
              </nav>
            </aside>
        </div>
    </div>

</main>

{% endblock %}
