{% extends "layout.html" %}

{% block page_title %}
  Healthy start - Start application
{% endblock %}

{% block content %}

<main role="main" id="content" class="guide" lang="en">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="pub-c-title pub-c-title--bottom-margin">
                <h1 class="pub-c-title__text ">
                    Healthy Start
                </h1>
            </div>

            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
                    <ol class="column-half">
                        <li>
                            <a href="/">Overview</a>
                        </li>
                        <li>
                            What you'll get
                        </li>
                        <li>
                            <a href="/eligibility">Eligibility</a>
                        </li>
                    </ol>
                    <ol class="column-half" start="4">
                        <li>
                            <a href="/how-to-claim">How to claim</a>
                        </li>
                        <li>
                            <a href="/report-a-change-of-circumstances">Report a change of circumstances</a>
                        </li>
                        <li>
                            <a href="/vitamins">Vitamins</a>
                        </li>
                    </ol>
                </nav>
            </aside>

            <h1 class="part-title">
                2. What you'll get
            </h1>

            <div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
                <p>If you qualify, you’ll receive a prepaid debit card in the post, which will be topped up with your Healthy Start allowance every four weeks to spend on:</p>

                <ul class="list list-bullet">
                    <li>milk</li>
                    <li>fresh fruit and vegetables</li>
                    <li>plain frozen fruit and vegetables</li>
                    <li>infant formula</li>
                </ul>

                <p>The amount you get depends on your circumstances and the number you have parental responsibility for. </p>

                <ul class="list list-bullet">
                    <li>You get £3.10 a week if you’re pregnant</li>
                    <li>You will get £6.20 a week if you have a child under 1</li>
                    <li>You will receive £3.10 for each child you have aged between 1 and 4</li>
                </ul>

                <p>If you are eligible for Healthy Start you can also get free vitamins for you when you’re pregnant and for your children. </p>
            </div>

            <nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
                <ul class="pub-c-pagination__list">
                    <li class="pub-c-pagination__item pub-c-pagination__item--previous">
                       <a href="/" class="pub-c-pagination__link" rel="prev">
                          <span class="pub-c-pagination__link-title">
                             <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                             </svg>
                             Previous
                          </span>
                          <span class="visually-hidden">:</span>
                          <span class="pub-c-pagination__link-label">Overview</span>
                       </a>
                    </li>

                    <li class="pub-c-pagination__item pub-c-pagination__item--next">
                        <a href="/eligibility" class="pub-c-pagination__link" rel="next">
                            <span class="pub-c-pagination__link-title">
                                Next
                                <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                            </span>
                            <span class="visually-hidden">:</span>
                            <span class="pub-c-pagination__link-label">Eligibility</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-third add-title-margin">
            <aside class="govuk-related-items" data-module="track-click" role="complementary">
              <h2 data-track-count="sidebarRelatedItemSection">
                Financial help if you have children
              </h2>


              <nav role="navigation">
                <ul>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}" href="https://www.gov.uk/child-benefit">Claim Child Benefit</a>
                    </li>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/maternity-allowance" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Maternity Allowance&quot;}" href="https://www.gov.uk/maternity-allowance">Maternity Allowance</a>
                    </li>
                    <li>
                      <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/sure-start-maternity-grant" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Sure Start Maternity Grant&quot;}" href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a>
                    </li>
                    <li class="related-items-more">
                        <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">
                        More
                          <span class="visuallyhidden">
                            in
                            Financial help if you have children
                          </span>
                        </a>            
                    </li>
                </ul>
              </nav>
            </aside>
        </div>
    </div>

</main>

{% endblock %}
